USE [master]
GO
/****** Object:  Database [test_sql]    Script Date: 6/4/2023 8:03:35 PM ******/
CREATE DATABASE [test_sql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test_sql', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\test_sql.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_sql_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\test_sql_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test_sql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test_sql]
GO
/****** Object:  Table [dbo].[ChuongTrinhDaoTao]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhDaoTao](
	[ma_ctdt] [nvarchar](50) NOT NULL,
	[ten_ctdt] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuongTrinhDaoTao] PRIMARY KEY CLUSTERED 
(
	[ma_ctdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHp]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mssv] [nvarchar](50) NOT NULL,
	[ma_hp] [nvarchar](50) NOT NULL,
	[ngay_dk] [nvarchar](50) NULL,
 CONSTRAINT [PK_DangKyHp] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[ma_hp] [nvarchar](50) NOT NULL,
	[ten_hp] [nvarchar](50) NULL,
	[tinchi] [int] NULL,
	[trong_so] [float] NULL,
	[ma_khoa] [nvarchar](10) NULL,
	[thoiluong] [nvarchar](50) NULL,
 CONSTRAINT [PK_HocPhan] PRIMARY KEY CLUSTERED 
(
	[ma_hp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HpCTDT]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HpCTDT](
	[ma_ctdt] [nvarchar](50) NOT NULL,
	[ma_hp] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HpCTDT] PRIMARY KEY CLUSTERED 
(
	[ma_ctdt] ASC,
	[ma_hp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[makhoa] [nvarchar](50) NOT NULL,
	[tenkhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopSv]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopSv](
	[ma_lop] [nvarchar](50) NOT NULL,
	[ten_lop] [nvarchar](50) NULL,
	[ma_khoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_LopSv] PRIMARY KEY CLUSTERED 
(
	[ma_lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monhoc]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monhoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[tenmahoc] [nvarchar](50) NULL,
	[mamonhoc] [nvarchar](50) NULL,
	[malop] [nvarchar](50) NULL,
 CONSTRAINT [PK_Monhoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVienx]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVienx](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[mssv] [nvarchar](50) NOT NULL,
	[HoVaTen] [nvarchar](50) NULL,
	[NgaySinh] [nvarchar](50) NULL,
	[Diachi] [nchar](10) NULL,
	[ma_lop] [nvarchar](50) NULL,
	[HeHoc] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Sodienthoai] [nchar](10) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_SinhVienx] PRIMARY KEY CLUSTERED 
(
	[mssv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NULL,
	[permission] [char](2) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyHp] ADD  CONSTRAINT [DF_DangKyHp_ngay_dk]  DEFAULT (getdate()) FOR [ngay_dk]
GO
ALTER TABLE [dbo].[DangKyHp]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHp_HocPhan] FOREIGN KEY([ma_hp])
REFERENCES [dbo].[HocPhan] ([ma_hp])
GO
ALTER TABLE [dbo].[DangKyHp] CHECK CONSTRAINT [FK_DangKyHp_HocPhan]
GO
ALTER TABLE [dbo].[DangKyHp]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHp_SinhVienx] FOREIGN KEY([mssv])
REFERENCES [dbo].[SinhVienx] ([mssv])
GO
ALTER TABLE [dbo].[DangKyHp] CHECK CONSTRAINT [FK_DangKyHp_SinhVienx]
GO
ALTER TABLE [dbo].[HpCTDT]  WITH CHECK ADD  CONSTRAINT [FK_HpCTDT_ChuongTrinhDaoTao] FOREIGN KEY([ma_ctdt])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([ma_ctdt])
GO
ALTER TABLE [dbo].[HpCTDT] CHECK CONSTRAINT [FK_HpCTDT_ChuongTrinhDaoTao]
GO
ALTER TABLE [dbo].[HpCTDT]  WITH CHECK ADD  CONSTRAINT [FK_HpCTDT_HocPhan] FOREIGN KEY([ma_hp])
REFERENCES [dbo].[HocPhan] ([ma_hp])
GO
ALTER TABLE [dbo].[HpCTDT] CHECK CONSTRAINT [FK_HpCTDT_HocPhan]
GO
ALTER TABLE [dbo].[LopSv]  WITH CHECK ADD  CONSTRAINT [FK_LopSv_Khoa] FOREIGN KEY([ma_khoa])
REFERENCES [dbo].[Khoa] ([makhoa])
GO
ALTER TABLE [dbo].[LopSv] CHECK CONSTRAINT [FK_LopSv_Khoa]
GO
/****** Object:  StoredProcedure [dbo].[checkLogin]    Script Date: 6/4/2023 8:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[checkLogin]
	@username varchar(50), @password varchar(255)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @retVal INT;
	DECLARE @type VARCHAR(2);

	SELECT @type = Users.permission FROM [dbo].[Users] 
	WHERE Users.username = @username AND Users.password = @password;

    IF (@@ROWCOUNT > 0)
	BEGIN
		SET @retVal = 
		CASE @type
			WHEN 'a' THEN 0
			WHEN 'g' THEN 1
			WHEN 's' THEN 2
		END; --Login success
	END
	ELSE
		SET @retVal = -1; --Access denied

	SELECT @retVal AS RetVal;
END
GO
USE [master]
GO
